@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* ### Primary */

  --Orange: hsl(25, 97%, 53%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: var(--VeryDarkBlue);
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

button {
  font-family: inherit;
}

p {
  line-height: 1.8;
}

.main-container,
.thank-you {
  background-color: var(--DarkBlue);
  padding: 1.5rem;
  border-radius: 2rem;
  max-width: 400px;
}

.main-container img {
  background-color: hsl(213, 22%, 24%);
  padding: 1rem;
  border-radius: 50%;
}

.main-container h1 {
  color: var(--White);
  margin: 2rem 0 1rem;
}

.main-container p {
  color: var(--LightGrey);
  margin-bottom: 1rem;
}

.main-container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.main-container ul li button {
  width: 3rem;
  height: 3rem;
  background-color: hsl(213, 22%, 24%);
  color: var(--LightGrey);
  border: none;
  padding-top: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.main-container ul li button:hover {
  background-color: var(--Orange);
  color: var(--White);
}

.main-container ul li button:focus {
  background-color: var(--LightGrey);
  color: var(--White);
}

.btn-submit {
  background-color: var(--Orange);
  color: var(--White);
  border: none;
  width: 100%;
  padding: 0.8rem 0 0.6rem;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.btn-submit:hover {
  background-color: var(--White);
  color: var(--Orange);
  font-weight: bold;
}

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.thank-you img {
  display: block;
  margin: 0.5rem auto 1.5rem;
}

.thank-you p.gray {
  background-color: hsl(213, 22%, 24%);
  border-radius: 30px;
  color: var(--Orange);
  padding: 0.2rem 0.5rem 0;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.thank-you h2 {
  color: var(--White);
  margin-bottom: 0.5rem;
}

.thank-you p {
  color: var(--LightGrey);
  margin-bottom: 0.8rem;
}

.hidden {
  display: none;
}
